<ion-header>
  <ion-navbar>
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Obituary App</ion-title>
  </ion-navbar>
 
  <ion-toolbar no-border-top class="toolbar toolbar-ios statusbar-padding">
    <ion-segment mode="md" [(ngModel)]="galleryType" class="segment segment-ios ng-valid ng-touched ng-dirty">
      <ion-segment-button value="obituaries">
        Obituaries
      </ion-segment-button>
      <ion-segment-button value="appreciations">
        Appreciations
      </ion-segment-button>
      <ion-segment-button value="memorials">
        Memorials
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
  
</ion-header>

<ion-content padding>
  <div [ngSwitch]="galleryType">
    <!-- Responsive Layout with Ion Grid-->
    <div class="images" *ngSwitchCase="'obituaries'">
      <div class="one-image" *ngFor="let image of [1,2,3,4,5,6,7,8,9,10,11,12]">
        <img src="assets/imgs/{{image}}.jpg">
        Nelson Mandela
      </div>
    </div>

    <!-- More Pinterest floating gallery style -->
    <div class="images" *ngSwitchCase="'appreciations'">
      <div class="one-image" *ngFor="let image of [21,22,23,24,25,26,27,28,29,30,31,32]">
        <img src="assets/imgs/{{image}}.jpg">
        Winny Mandela
      </div>
    </div>
    <div class="" *ngSwitchCase="''">
      <div class="one-image" *ngFor="let image of [41,42,43,44,45,46,47,48,49,50,51,52]">
        <img src="assets/imgs/{{image}}.jpg">
        Wangari Maathai
      </div>
    </div>
  </div>

  <!-- Floating Button -->
  <!--<ion-fab right bottom>-->
    <!--<button ion-fab color="primary"><ion-icon name="add"></ion-icon></button>-->
  <!--</ion-fab>-->
  <ion-fab right bottom>
    <button ion-fab color="primary"><ion-icon name="share"></ion-icon></button>
    <ion-fab-list side="top">
      <button ion-fab><ion-icon name="logo-facebook"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-twitter"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-vimeo"></ion-icon></button>
      <button ion-fab><ion-icon name="logo-googleplus"></ion-icon></button>
        <button ion-fab><ion-icon name="logo-whatsapp"></ion-icon></button>
    </ion-fab-list>
  </ion-fab>
</ion-content>
